@CHARSET "UTF-8";
@media print {
	.main, .top-bar, .dropup, #tabnav-panel {
		display: none !important;
	}

	body {
		color: black;
		background: white;
		padding-top: 0;
	}

	a {
		text-decoration: underline;
		color: #336699;
	}
}
