@CHARSET "UTF-8";

/* ******** Main desing *****************/
body {
}

.page-header {
	margin-bottom: 10px !important;
	border-bottom: none !important;
}

.loading-wrapper {
	margin-top: 30px;
	margin-bottom: 20px;
}

.blogauthortag {
	float: left;
	margin-right: 30px;
}

.addthis_toolbox .atclear {
	clear: none;
}

a.ui-disabled {
	font-size: 1.3em;
	text-transform: uppercase;
	padding: 10px 25px;
	background-color: #e0e0e0;
	border: 1px solid #B1B1B1;
	-webkit-border-radius: 6px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

a.ui-disabled {
	color: inherit !important;
	pointer-events: none;
	cursor: default;
}

/* ******** Bootstrap extensions ********/
.add-on-btn-wrapper {
	padding: 0 0 8px 0 !important;
}

.add-on-btn {
	border: 0 !important;
}

/* ******** FORMS *************/
span.alert {
	white-space: nowrap;
}

.bold {
	font-weight: bold;
}

form {
	color: #333;
}

form .required label:after {
	color: #e32;
	content: ' *';
	display: inline;
}

/* ********* Text *****************/
pre {
	background-color: #DDDDDD;
}

.blog-post-list-date {
	color: #9FA0A0;
}

/* *************** homepage   ************* */
#page-id-home #breadcrumb-bootstrap {
	display: none;
}

#home-filters {
	margin-bottom: 30px;
}

#home-filter {
	margin-top: 20px;
}

#home-filter-clearall {
	font-size: 14px;
	text-decoration: underline;
	padding-left: 5px;
	position: relative;
	top: -2px;
}

.home-feed-row {
	margin-top: 20px;
}

.blog-post-article h2 {
	padding-top: 18px;
}

.blog-post-article {
	border-bottom: 1px solid #d5d5d5;
	padding-bottom: 20px;
}

.blog-post-tags {
	margin-top: 10px;
}

.blog-post-show-more {
	padding-top: 10px;
}

#home-left-panel .loading-full-width {
	margin-top: 15px;
}

#group-posts-ul h3 {
	padding-left: 10px;
}

#group-posts-ul .ui-li-desc {
	margin-left: 55px;
}

#home-posts h2 {
	padding-left: 0;
	padding-bottom: 10px;
}

.blog-post-header-info {
	height: 56px;
	padding-bottom: 10px;
}

.blog-post-content {
	clear: both;
}

.blog-post-content ul li {
	border: none;
}

.blog-post-content p,.blog-post-content ul {
	line-height: 1.5em;
}

.addthis_toolbox {
	position: relative;
	float: right;
	width: 85px;
}

/* *************** UI List View ****************/
.ui-listview {
	list-style: none outside none;
	padding: 0;
	margin-top: 0;
}

.ui-li-heading {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 15px 0px 0px 0px;
	/* 	white-space: nowrap; */
}

.ui-li-aside {
	float: right;
	text-align: right;
	width: 25%;
}

.ui-listview a:hover {
	text-decoration: none;
}

.ui-li-desc {
	color: #555;
}

img.ui-li-thumb {
	float: left;
	margin-right: 10px;
}

#group-posts-ul li,#feed-list-ul li {
	padding: 5px 10px;
	margin: 0 0 10px 0;
	/*	background-color: #F5FAF0;
	border-radius: 4px;
	box-shadow: 2px 2px 2px 0 #CCCCCC; */
}

#group-posts-ul .ui-li-count,#feed-list-ul .ui-li-count {
	float: right;
	position: relative;
	top: -47px;
}

#feed-list-ul .group-name { /*	background-color: blue; */

}

/* ************* Page specifics ******************/
.search-result-nav {
	padding: 20px 0;
}

.search-result-count {
	float: left;
}

#search-result-nav {
	float: right;
}

#search-result-list {
	clear: both;
}

.manage-feeds-list-url {
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 250px;
}

td.table-actions-column {
	width: 110px;
}

td.table-actions-column .button + .button {
	margin-left: 0;

}

@media ( min-width : 1200px) {
	.manage-feeds-list-url {
		max-width: 100%
	}
}

@media ( max-width : 979px) {
	.manage-feeds-list-url {
		max-width: 100px;
	}
}

/* ************* POST Preview ******************/
.blogpost-content {
	margin-bottom: 30px;
}

/* ************* POSTS layout ******************/
/* SBS specifics */
.jive-rendered-content p {
	margin: 0;
	padding: 0;
}

.jive-image-thumbnail {
	border: 1px solid transparent;
	cursor: pointer;
}

img.jive-image {
	margin: 12px;
}

/* *****************   Breadcrumb style ******************* */
.breadcrumb {
	margin-bottom: 0 !important;
}

/* ******************** PLUGINS *********************** */
/* 
 * Data Tables.
 * Source: http://datatables.github.io/Plugins/integration/foundation/dataTables.foundation.css
 * See: https://www.datatables.net/forums/discussion/14408/zurb-foundation-integration-for-datatables/p1
 */
div.dataTables_wrapper {
	margin-bottom: 1.25em;
}

div.dataTables_length label,
div.dataTables_filter label,
div.dataTables_info {
	color: #999;
	font-weight: normal;
}

div.dataTables_length {
	padding-top: 6px;
}
div.dataTables_length label {
	float: left;
	text-align: left;
}

div.dataTables_length select {
	width: 75px;
}

div.dataTables_filter label {
	float: right;
}
div.dataTables_filter input {
	display: inline-block !important;
	width: auto !important;
}

div.dataTables_info {
	padding-top: 2px;
	font-size: 0.875em;
}

div.dataTables_paginate {
	float: right;
	margin: 0;
}

table.dataTable {
	clear: both;
	margin-bottom: 0.5em !important;
	max-width: none !important;
	width: 100%;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
	cursor: pointer;
	*cursor: hand;
}

table.dataTable thead .sorting { background: url('../datatables/images/sort_both.png') no-repeat center right; }
table.dataTable thead .sorting_asc { background: url('../datatables/images/sort_asc.png') no-repeat center right; }
table.dataTable thead .sorting_desc { background: url('../datatables/images/sort_desc.png') no-repeat center right; }

table.dataTable thead .sorting_asc_disabled { background: url('../datatables/images/sort_asc_disabled.png') no-repeat center right; }
table.dataTable thead .sorting_desc_disabled { background: url('../datatables/images/sort_desc_disabled.png') no-repeat center right; }

table.dataTable th:active {
	outline: none;
}

/* Scrolling */
div.dataTables_scrollHead table {
	margin-bottom: 0 !important;
}

div.dataTables_scrollBody table {
	border-top: none;
	margin-bottom: 0 !important;
}

div.dataTables_scrollBody tbody tr:first-child th,
div.dataTables_scrollBody tbody tr:first-child td {
	border-top: none;
}

div.dataTables_scrollFoot table {
	border-top: none;
}


/* Example tokeninput style #2: JBoss Developer style based on facebook style */
/*
 * Token Input.
 * See: http://loopj.com/jquery-tokeninput/
 */
ul.token-input-list-jbdev input,  ul.token-input-list-jbdev input:focus {
	box-shadow: none;
	border: none;
	background: none;
}

ul.token-input-list-jbdev {
	overflow: hidden;
	height: auto !important;
	height: 1%;
	border: 1px solid #cccccc;
	border-radius: 5px;
	cursor: text;
	font-size: 12px;
	font-family: Verdana;
	min-height: 1px;
	z-index: 999;
	margin: 0 0 1em 0;
	padding: 0;
	background-color: #fff;
	list-style-type: none;
	clear: left;
}

ul.token-input-list-jbdev li input {
	border: 0;
	width: 100px;
	padding: 3px 8px;
	background-color: white;
	margin: 2px 0;
	-webkit-appearance: caret;
}

li.token-input-token-jbdev {
	overflow: hidden;
	height: auto !important;
	height: 15px;
	margin: 5px;
	padding: 1px 3px;
	background-color: #eff2f7;
	color: #000;
	cursor: default;
	border: 1px solid #ccd5e4;
	font-size: 12px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	float: left;
	white-space: nowrap;
}

li.token-input-token-jbdev p {
	display: inline;
	padding: 0;
	margin: 0;
}

li.token-input-token-jbdev span {
	color: #a6b3cf;
	margin-left: 5px;
	font-weight: bold;
	cursor: pointer;
}

li.token-input-selected-token-jbdev {
	background-color: #5670a6;
	border: 1px solid #3b5998;
	color: #fff;
}

li.token-input-input-token-jbdev {
	float: left;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

div.token-input-dropdown-jbdev {
	position: absolute;
	width: 200px;
	background-color: #fff;
	overflow: hidden;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	cursor: default;
	font-size: 12px;
	font-family: Verdana;
	z-index: 1;
}

div.token-input-dropdown-jbdev p {
	margin: 0;
	padding: 5px;
	font-weight: bold;
	color: #777;
}

div.token-input-dropdown-jbdev ul {
	margin: 0;
	padding: 0;
}

div.token-input-dropdown-jbdev ul li {
	background-color: #fff;
	padding: 3px;
	margin: 0;
	list-style-type: none;
}

div.token-input-dropdown-jbdev ul li.token-input-dropdown-item-jbdev {
	background-color: #fff;
}

div.token-input-dropdown-jbdev ul li.token-input-dropdown-item2-jbdev {
	background-color: #fff;
}

div.token-input-dropdown-jbdev ul li em {
	font-weight: bold;
	font-style: normal;
}

div.token-input-dropdown-jbdev ul li.token-input-selected-dropdown-item-jbdev {
	background-color: #3b5998;
	color: #fff;
}