%define  _deploy_dir /services/borg

Name:           borg
Version:        3.6.7
Release:        ${release}.el6
Summary:        Blog post aggregator - planet.jboss.org

Group:          System Environment/Daemons
License:        Apache License, Version 2.0
URL:            http://planet.jboss.org


BuildRoot:      %{_tmppath}/%{name}-%{version}.%{release}-root-%(%{__id_u} -n)
BuildArch:      noarch

#set $i = 0
#for $artifact in $all_artifacts
  #if $artifact.startswith('borg') and $artifact.endswith('.war')
Source0: $artifact
  #end if
#end for

Requires(post): chkconfig
Requires(preun): chkconfig
# This is for /sbin/service
Requires(preun): initscripts

%description
Blog post aggregator - planet.jboss.org

%install
rm -rf %{buildroot}
/usr/bin/install -d %{buildroot}%{_deploy_dir}/%{name}.war
unzip -d %{buildroot}%{_deploy_dir}/%{name}.war %{SOURCE0}


%clean
rm -rf %{buildroot}

%files
%defattr(-,jboss,jboss,-)
%{_deploy_dir}


%changelog
* NOT SCHEDULED - Libor Krzyzanek <lkrzyzan at, redhat.com> 3.6.7


* Fri Apr 15 2016 Libor Krzyzanek <lkrzyzan at, redhat.com> 3.6.6
  - ORG-3016 - Better handling of duplicate posts
  - ORG-3020 - Upgrade planet to openjdk 1.8
  - ORG-3011 - Redesign rss sync job scheduling
  - ORG-3029 - Improve detection if post needs to be merged
  - ORG-2984 - Monitoring of sync jobs

* Fri Apr 8 2016 Libor Krzyzanek <lkrzyzan at, redhat.com> 3.6.5
  - ORG-3010 - Ignore posts with publish date is null

* Thu Aug 6 2015 Libor Krzyzanek <lkrzyzan at, redhat.com> 3.6.4
  - ORG-2510 - Use Searchisko registered query on main page

* Fri Jul 17 2015 Libor Krzyzanek <lkrzyzan at, redhat.com> 3.6.3
  - ORG-2290 - Use Searchisko v 2 API

* Fri Jul 3 2015 Libor Krzyzanek <lkrzyzan at, redhat.com> 3.6.2
  - ORG-2486 - Ignore empty tags (categories) during parsing feeds
  - ORG-2239 - Correct lastmod in sitemap_index.xml

* Fri Jun 26 2015 Libor Krzyzanek <lkrzyzan at, redhat.com> 3.6.1
  - ORG-2472 - Original Post link on post page
  - ORG-2331 - Upgrade to Zurb 5
  - ORG-2134 - RSS icon moved
  - ORG-2480 - Better avatar urls
  - ORG-2461 - Remove no BMP characters

* Tue Sep 2 2014 Libor Krzyzanek <lkrzyzan at, redhat.com> 3.6.0
  - Sitemap generation - https://issues.jboss.org/browse/ORG/fixforversion/12325580

* Thu Aug 28 2014 Libor Krzyzanek <lkrzyzan at, redhat.com> 3.5.3
  - Tracking codes - https://issues.jboss.org/browse/ORG-2223

* Tue Aug 19 2014 Libor Krzyzanek <lkrzyzan at, redhat.com> 3.5.2
  - Google Tag Manager - https://issues.jboss.org/browse/ORG/fixforversion/12325463

* Thu Jun 19 2014 Libor Krzyzanek <lkrzyzan at, redhat.com> 3.5.1
  - Twitter sync bugfix + Duplicate titles moderation - https://issues.jboss.org/browse/ORG/fixforversion/12325093

* Mon May 26 2014 Libor Krzyzanek <lkrzyzan at, redhat.com> 3.5.0
  - Tags Groups - https://issues.jboss.org/browse/ORG/fixforversion/12324673

* Mon Apr 14 2014 Libor Krzyzanek <lkrzyzan at, redhat.com> 3.4.0
  - JBoss Developer Theme

* Mon Apr 14 2014 Libor Krzyzanek <lkrzyzan at, redhat.com> 3.3.0
  - Twitter Sync + Minor bug fixes - https://issues.jboss.org/browse/ORG/fixforversion/12324752

* Tue Apr 8 2014 Libor Krzyzanek <lkrzyzan at, redhat.com> 3.2.0
 - Minor bug fixes - https://issues.jboss.org/browse/ORG/fixforversion/12324622

* Tue Apr 1 2014 Libor Krzyzanek <lkrzyzan at, redhat.com> 3.1.1
 - Minor bug fixes - https://issues.jboss.org/browse/ORG/fixforversion/12324603


* Tue Mar 18 2014 Libor Krzyzanek <lkrzyzan at, redhat.com> 3.1.0
- JBoss Developer Theme (powered by Zurb Foundation 4)

* Tue Feb 11 2014 Libor Krzyzanek <lkrzyzan at, redhat.com> 3.0.0
- Initial release