%define  _deploy_dir /services/borg

Name:           borg
Version:        3.3.0
Release:        ${release}.el6
Summary:        Blog post aggregator - planet.jboss.org

Group:          System Environment/Daemons
License:        Apache License, Version 2.0
URL:            http://planet.jboss.org


BuildRoot:      %{_tmppath}/%{name}-%{version}.%{release}-root-%(%{__id_u} -n)
BuildArch:      noarch

#set $i = 0
#for $artifact in $all_artifacts
  #if $artifact.startswith('borg') and $artifact.endswith('.war')
Source0: $artifact
  #end if
#end for

Requires(post): chkconfig
Requires(preun): chkconfig
# This is for /sbin/service
Requires(preun): initscripts

%description
Blog post aggregator - planet.jboss.org

%install
rm -rf %{buildroot}
/usr/bin/install -d %{buildroot}%{_deploy_dir}/%{name}.war
unzip -d %{buildroot}%{_deploy_dir}/%{name}.war %{SOURCE0}


%clean
rm -rf %{buildroot}

%files
%defattr(-,jboss,jboss,-)
%{_deploy_dir}


%changelog
* Mon Apr 14 2014 Libor Krzyzanek <lkrzyzan at, redhat.com> 3.3.0
  - Twitter Sync + Minor bug fixes - https://issues.jboss.org/browse/ORG/fixforversion/12324752

* Tue Apr 8 2014 Libor Krzyzanek <lkrzyzan at, redhat.com> 3.2.0
 - Minor bug fixes - https://issues.jboss.org/browse/ORG/fixforversion/12324622

* Tue Apr 1 2014 Libor Krzyzanek <lkrzyzan at, redhat.com> 3.1.1
 - Minor bug fixes - https://issues.jboss.org/browse/ORG/fixforversion/12324603


* Tue Mar 18 2014 Libor Krzyzanek <lkrzyzan at, redhat.com> 3.1.0
- JBoss Developer Theme (powered by Zurb Foundation 4)

* Tue Feb 11 2014 Libor Krzyzanek <lkrzyzan at, redhat.com> 3.0.0
- Initial release